
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
body{
    height:100%;
    margin: 0 auto;
    font-family: "Montserrat";
    font-size: 18px;
    background-color: rgb(19, 99, 146, 0.8);
    background-image: url("assets/gardenhome.jpg");
    background-size: 100%;
}
a {
    text-decoration: none;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    
    grid-template-columns: 30% auto; 
}
.container.a{
color: white;
}
section{
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}
.cover {
    background: rgba(255, 255, 255, 0.80);
}
.panel-body{
    background-image: url("assets/gardenhome5.jpg");
    border-radius: 5px;
    width: 49.8%;
    height: 300px;
}